---
import { getImgFromSkill } from "../scripts/repo";

interface Props {
    name: string;
    r: number;
    g: number;
    b: number;
}

const { name, r, g, b } = Astro.props;

const iconsize = 60;
const img = `/icons/${getImgFromSkill(name)}`;
---

<article>
    <img src={img} alt=`logo_${name}` width={iconsize} height={iconsize} />
    <span>{name}</span>
</article>

<style define:vars={{ iconsize, r, g, b }}>
    article {
        --bg: rgb(247, 247, 247);
        /* --hover-bg: rgb(200, 225, 255); */
        --hover-bg: rgb(
            calc(var(--r) + (255 - var(--r)) * 0.75),
            calc(var(--g) + (255 - var(--g)) * 0.75),
            calc(var(--b) + (255 - var(--b)) * 0.75)
        );
        --hover-text: rgb(var(--r), var(--g), var(--b));
        text-align: center;
        background: var(--bg);
        padding: 38px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        transition:
            0.3s cubic-bezier(0.6, 0.4, 0, 1),
            transform 0.15s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    article > :not(span) {
        transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
    }

    article span {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--hover-text);
        border-radius: 5px;
        font-weight: bold;
        top: 100%;
        transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
    }

    article:hover span {
        top: 0;
        font-size: 1.2em;
    }

    article:hover {
        background: var(--hover-bg);
    }

    article:hover > img {
        opacity: 0;
    }

    img {
        width: calc(1px * var(--iconsize));
        height: calc(1px * var(--iconsize));
    }
</style>
