---
import { skills, type Skill } from "../scripts/repo";
import SkillItem from "./skill_item.astro";
import SectionTitle from "./section_title.astro";
import BrainIcon from "./icons/brain.astro";

const iconsize = 30;
---

<section id="skills">
    <SectionTitle>
        <BrainIcon slot="icon" height={iconsize} width={iconsize} />
        <h2 slot="title">Conocimientos y aptitudes</h2>
    </SectionTitle>
    <div>
        {
            skills.map((s: Skill) => (
                <SkillItem name={s.name} r={s.r} g={s.g} b={s.b} />
            ))
        }
    </div>
</section>

<style>
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 29px;
    }
</style>
